@layout('layouts/main')

@section('conteudo')
<h1>Editar usuário</h1>

@!component('usuarios/_form', {
    rota: route('usuario.update', {id: usuario.id}),
    alterar: true,
    dados: usuario
})
@end